# Droidspaces Container Configuration
# Generated automatically - Changes may be overwritten

name=ubuntu
hostname=ubuntu
rootfs_path=/data/data/com.termux/files/home/twrp_tornado/recovery/root/alpine
disable_ipv6=0
enable_android_storage=0
enable_termux_x11=0
enable_virgl=0
enable_pulseaudio=0
enable_hw_access=0
enable_gpu_mode=0
selinux_permissive=0
allow_sandboxing=0
allow_vts=0
volatile_mode=0
force_cgroupv1=0
foreground=0
net_mode=nat
static_nat_ip=172.28.17.169
uuid=ea3bd9cbb4b1643ce3436c6c4f5c578a
